h1{
    font-size: 30px;
    font-weight: 700;
}
.dropleft button:hover {
  background-color: white;
  color: black;
}
.btn-group, .btn-group-vertical{


    top: 36rem;
    position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: middle;
    left: 90rem;
    position: fixed;
}

  .dropleft .dropdown-menu {
  -webkit-transform: translate3d(-163px, -36px, 0px) !important;
          transform: translate3d(-163px, -36px, 0px) !important;
  border: 1px solid black;
  border-radius: unset;


  
}
.dropdown-item{

      display: block;
      width: 100%;
      padding: .25rem 1.5rem;
      clear: both;
      font-weight: 400;
      color:black;
      text-align: inherit;
      white-space: nowrap;
      background-color: transparent;
      border: #A8DADC;
} 

/* .btn-secondary {
  color: #fff;
  background-color: #A8DADC;
  border-color: #A8DADC;
}
    .dropleft .dropdown-menu form a {
    font-size: 12px;
  }
  
    .dropleft .dropdown-menu form a:hover {
    background-color: unset;
  }
  .dropdown-menu.show {
    display: block;
} */

    @media screen and (max-width: 800px){
     .col-4 .about{
          
                position: relative;
                left: -9%;
                width: 91%;
                top: 25%;
                height: 22rem;
            
        
        }
        .content-cont .content .about_title{
            position: relative;

            left: 4rem;
        }
        .btn-group, .btn-group-vertical{
          top: 5rem;
          position: fixed;
          display: -ms-inline-flexbox;
          display: inline-flex;
          vertical-align: middle;
          left: 45rem;
        }
    }

